@{
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
}
<!DOCTYPE html>
<html>
<head>
    <partial name="Edumin/_Meta" />
    <title>@Configuration.GetSection("DefaultValue")["Title"]</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/edumin/images/favicon.png">

    <link href="~/edumin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <!--**********************************
        Style script start
    ***********************************-->
    @RenderSection("Edumin_style", false)
    <!--**********************************
        Style script end
    ***********************************-->
    <!-- Style css -->
    <link class="main-css" href="~/edumin/css/style.css" rel="stylesheet">
</head>
<body>
    <partial name="Edumin/_PreLoader" />
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <partial name="Edumin/_NevHeader" />
        <partial name="Edumin/_Chatbox" />
        <partial name="Edumin/_Header" />
        <partial name="Edumin/_Sidebar" />
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <partial name="Edumin/_Footer" />
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    @RenderSection("Edumin_script", false)
</body>
</html>
